<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="<%= @config.description %>">

        <title><%= frontmatter(@document, "title") %> - <%= @config.name %></title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="<%= asset(@page, 'css/theme.css') %>">
    </head>

    <body>

        <%= include(@page, "navbar.html.eex", document: @document) %>

        <% latest_post = files_from(@page, "/posts", sort: "order|desc", limit: 1) |> Enum.at(0) %>

        <%= if latest_post do %>
            <% author = FriseDefaultTheme.author(@page, frontmatter(latest_post, "author")) %>

            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-3"><%= frontmatter(latest_post, "title") %></h1>
                    <small class="text-muted"><%= author.name %>, <%= frontmatter(latest_post, "date") %></small>
                    <p><%= frontmatter(latest_post, "excerpt") %></p>
                    <p><a class="btn btn-primary btn-lg" href="<%= link_to(@page, latest_post) %>" role="button">Read more »</a></p>
                </div>
            </div>
        <% end %>

        <% posts = files_from(@page, "/posts", sort: "order|desc", offset: 1) %>

        <main class="container">
            <%= for post <- posts do %>
                <% author = FriseDefaultTheme.author(@page, frontmatter(post, "author")) %>

                <h2><a href="<%= link_to(@page, post) %>"><%= frontmatter(post, "title") %></a></h2>
                <small class="text-muted"><%= author.name %>, <%= frontmatter(post, "date") %></small>
                <p><%= frontmatter(post, "excerpt") %></p>
            <% end %>

            <%= if !latest_post && empty?(posts) do %>
                <p>There are no posts yet</p>
            <% end %>
        </main>

        <%= include(@page, "footer.html.eex", document: @document) %>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>
</html>

