<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="<%= frontmatter(@document, 'excerpt') %>">

        <title><%= frontmatter(@document, "title") %> - <%= @config.name %></title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="<%= asset(@page, 'css/theme.css') %>">
    </head>

    <body>

        <%= include(@page, "navbar.html.eex", document: @document) %>

        <main role="main" class="container">
            <h1><%= frontmatter(@document, "title") %></h1>
            <small class="text-muted"><%= frontmatter(@document, "date") %></small>

            <%= render @page, @document %>

            <hr>
            <% author = FryseDefaultTheme.author(@page, @frontmatter.author) %>
            <div class="media">
                <img class="mr-3" style="width: 64px;" src="<%= author.image %>" alt="<%= author.name %>">
                <div class="media-body">
                    <h5 class="mt-0"><%= author.name %></h5>
                    <%= author.description %>
                </div>
            </div>
        </main>

        <%= include(@page, "footer.html.eex", document: @document) %>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>
</html>

